---
import { Icon } from "astro-icon/components";
const { name, iconName } = Astro.props;
---

<div
  class="group flex items-center justify-between p-4 bg-white dark:bg-black rounded-lg shadow hover:shadow-lg hover:ring-2 hover:ring-orange-500 transition-all"
>
  <div class="flex items-center gap-4">
    <Icon
      name={iconName}
      class="w-8 h-8 group-hover:text-orange-500"
    />
    <h4 class="text-lg font-medium">{name}</h4>
  </div>
</div>