---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  iconName: string;
}

const { name, iconName } = Astro.props;
---

<div
  class="hl-card-shell hover-lift group flex items-center justify-between"
>
  <div class="flex items-center gap-4">
    <Icon
      name={iconName}
      class="w-8 h-8 group-hover:text-primary"
    />
    <h4 class="text-lg font-medium text-lightTextPrimary dark:text-darkTextPrimary">{name}</h4>
  </div>
</div>