---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sitemap" description="Temp description">
	<h1 class="text-2xl pb-12">Sitemap</h1>
	<ul class="pt-12">
		<li>
			<a href="/" class="hover:text-primary text-lg transition-colors">Home</a>
		</li>
		<li>
			<a href="/apps" class="hover:text-primary text-lg transition-colors"
				>Apps</a
			>
		</li>
		<li>
			<a href="/blog" class="hover:text-primary text-lg transition-colors"
				>Blog</a
			>
		</li>
		<li>
			<a href="/sitemap" class="hover:text-primary text-lg transition-colors"
				>Sitemap</a
			>
		</li>
	</ul>
</Layout>
