---
interface Props {
    tags: string[];
}
const { tags } = Astro.props;

function tagSlug(tag: string) {
  return tag.toLowerCase().replace(/\s+/g, '-');
}
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag) => (
    <a href={`/blog/tags/${tagSlug(tag)}`} class="no-underline">
      <hl-tag>{tag.toUpperCase()}</hl-tag>
    </a>
  ))}
</div>
