---
import { Icon } from "astro-icon/components";
---

<footer class="mt-auto w-full">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-6">
		<div class="flex justify-between items-center">
			<div>
				<p>© 2024 Aaron James All rights reserved.</p>
				<p>Built with Astro, React, and Tailwind</p>
			</div>
			<div>
				<div class="flex space-x-4">
					<a
						href="https://github.com/ajustinjames"
						target="_blank"
						rel="noopener noreferrer"
						class="p-2 rounded-full transition-colors bg-surfaceLightHover dark:bg-surfaceDarkHover hover:bg-borderLight dark:hover:bg-lightTextSecondary"
					>
						<Icon name="fa6-brands:github" size="28px" />
					</a>

					<a
						href="https://www.linkedin.com/in/ajustinjames/"
						target="_blank"
						rel="noopener noreferrer"
						class="p-2 rounded-full transition-colors bg-surfaceLightHover dark:bg-surfaceDarkHover hover:bg-borderLight dark:hover:bg-lightTextSecondary"
					>
						<Icon name="fa6-brands:linkedin" size="28px" />
					</a>

					<a
						href="https://www.youtube.com/@ajustinjames"
						target="_blank"
						rel="noopener noreferrer"
						class="p-2 rounded-full transition-colors bg-surfaceLightHover dark:bg-surfaceDarkHover hover:bg-borderLight dark:hover:bg-lightTextSecondary"
					>
						<Icon name="fa6-brands:youtube" size="28px" />
					</a>

					<a
						href="https://bsky.app/profile/ajustinjames.com"
						target="_blank"
						rel="noopener noreferrer"
						class="p-2 rounded-full transition-colors bg-surfaceLightHover dark:bg-surfaceDarkHover hover:bg-borderLight dark:hover:bg-lightTextSecondary"
					>
						<Icon name="fa6-brands:square-bluesky" size="28px" />
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
